body {
	margin: 0px;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: black;
}

div {
	position: absolute;
}

.pulse {
	animation: pulse 1s ease-in infinite alternate;
}

@keyframes pulse {
	from { filter: opacity(1.0); }
	to   { filter: opacity(0.5); }
}